body {
  font-family: "Lato";
  font-size: 24px;
  font-weight: 400;
  line-height: 1.4; /* 33.6px */
  color: var(--general-color);
}

.container {
  max-width: 1920px;
  margin: 0 auto;
  padding-left: 138px;
  padding-right: 138px;
}

.title {
  font-family: "Rufina";
  font-size: 108px;
  font-weight: 700;
  line-height: 1.2; /* 111.111% */
  color: var(--black-color);
}

.subtitle {
  font-family: "Rufina";
  font-size: 68px;
  font-weight: 700;
  line-height: 1.2; /* 123.529% */
  color: var(--black-color);
}

.middle-text {
  font-family: "Rufina";
  font-size: 48px;
  font-weight: 700;
  line-height: 1.3; /* 133.333% */
  color: var(--black-color);
}

.button-transparent {
  font-family: "Rufina";
  font-size: 32px;
  font-weight: 700;
  line-height: 1.5; /* 150% */
  color: var(--white-color);
  border: 2px solid var(--white-color);
  background-color: inherit;
  cursor: pointer;
}

.button-green {
  font-family: "Rufina";
  font-size: 32px;
  font-weight: 700;
  line-height: 1.5; /* 150% */
  color: var(--white-color);
  border: 2px solid var(--black-color);
  background-color: var(--button-green-color);
  cursor: pointer;
}

.hidden {
  overflow: hidden;
}

@media screen and (max-width: 1439.98px) {
  .container {
    padding-left: 40px;
    padding-right: 40px;
  }
  .button-transparent {
    font-size: 26px;
  }
}
@media screen and (max-width: 991.98px) {
  .middle-text {
    font-size: 32px;
  }
  .button-transparent {
    font-size: 20px;
  }
}
@media screen and (max-width: 767.98px) {
  .container {
    padding-left: 15px;
    padding-right: 15px;
  }
  .middle-text {
    font-size: 24px;
  }
  .button-transparent {
    font-size: 16px;
  }
}
@media screen and (max-width: 479.98px) {
  .middle-text {
    font-size: 16px;
  }
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  padding: 0;
}

:root {
  --white-color: #fff;
  --black-color: #000;
  --general-color: #4D4D4D;
  --bg-color: #EBF0E4;
  --bg-footer-color: #233000;
  --button-green-color: #5E6600;
  --span-color: #9CAA00;
  --date-color: #B0B0B0;
}

.header {
  background-color: var(--bg-footer-color);
}

.header__body {
  display: flex;
  align-items: center;
  padding: 46px 0px;
}

.header__logo {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 45px;
}

.header__logo-icon {
  width: 307px;
  height: 115px;
}

.header__burger-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: auto;
}

.burger-icon {
  width: 94px;
  height: 71px;
  cursor: pointer;
}

.header__tell {
  font-size: 26px;
  color: var(--white-color);
}
.header__tell:hover {
  text-decoration: underline;
}

.header__button {
  padding: 20px 46px;
  margin-left: 26px;
  transition: background-color 350ms cubic-bezier(0.4, 0, 0.2, 1);
}
.header__button:hover {
  background-color: var(--white-color);
  color: var(--bg-footer-color);
}

@media screen and (max-width: 1439.98px) {
  .header__logo {
    margin-right: 20px;
  }
  .header__logo-icon {
    width: 207px;
    height: 95px;
  }
  .burger-icon {
    width: 80px;
    height: 60px;
  }
  .header__button {
    padding: 15px 25px;
    margin-left: 15px;
  }
}
@media screen and (max-width: 991.98px) {
  .header__logo {
    margin-right: 15px;
  }
  .header__logo-icon {
    width: 157px;
    height: 65px;
  }
  .burger-icon {
    width: 60px;
    height: 40px;
  }
  .header__tell {
    font-size: 18px;
  }
}
@media screen and (max-width: 767.98px) {
  .header__body {
    padding: 20px 0px;
  }
  .header__logo-icon {
    width: 107px;
    height: 65px;
  }
  .header__button {
    padding: 10px 15px;
  }
  .header__tell {
    font-size: 16px;
  }
}
@media screen and (max-width: 479.98px) {
  .header__logo {
    margin-right: 0px;
  }
  .header__logo-icon {
    width: 87px;
    height: 45px;
  }
  .header__button {
    padding: 5px 10px;
  }
  .header__tell {
    display: none;
  }
}
.hero {
  background-color: var(--bg-footer-color);
}

.hero__body {
  position: relative;
  display: flex;
}

.hero__content {
  position: relative;
  z-index: 5;
  flex: 1 0 70%;
  max-width: 1057px;
  padding-top: 102px;
}

.hero__title {
  margin-bottom: 50px;
  font-family: "Rufina";
  font-size: 148px;
  font-weight: 700;
  line-height: 1.1; /* 102.703% */
  color: var(--white-color);
}

.hero__subtitle {
  max-width: 565px;
  margin-bottom: 50px;
  color: var(--white-color);
}

.hero__scroll {
  color: var(--white-color);
  writing-mode: vertical-lr;
}

.hero__wrapper-img {
  flex: 1 0 30%;
  padding-top: 231px;
  margin-left: -212px;
}

.hero__img {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}

.hero__wrapper-list {
  position: absolute;
  bottom: -1%;
  margin-left: 30%;
}

.hero__list {
  display: flex;
  column-gap: 44px;
}

.hero__item {
  width: 250px;
  height: 240px;
}

.hero__image {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}

@media screen and (max-width: 1579.98px) {
  .hero__title {
    font-size: 120px;
  }
}
@media screen and (max-width: 1439.98px) {
  .hero__title {
    font-size: 98px;
  }
}
@media screen and (max-width: 991.98px) {
  .hero__title {
    font-size: 56px;
  }
  .hero__content {
    padding-top: 20px;
  }
  .hero__wrapper-img {
    padding-top: 86px;
  }
}
@media screen and (max-width: 767.98px) {
  .hero__title {
    font-size: 32px;
    margin-bottom: 20px;
  }
  .hero__subtitle {
    margin-bottom: 20px;
    font-size: 16px;
  }
  .hero__wrapper-img {
    padding-top: 140px;
  }
}
@media screen and (max-width: 479.98px) {
  .hero__wrapper-img {
    display: none;
  }
  .hero__scroll {
    display: none;
  }
}
.swiper {
  width: 600px;
  height: 300px;
}

.burger__menu {
  display: none;
}

.burger__container {
  position: fixed;
  top: 74px;
  left: 0;
  z-index: 20;
  width: 100%;
  height: 100%;
  overflow: auto;
  padding: 20px 15px 40px 15px;
  background-color: var(--silver-color);
}

.burger__body {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 20px;
}

.active__burger {
  display: block;
}

.backdrop {
  position: fixed;
  z-index: 60;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(46, 47, 66, 0.4);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  opacity: 0;
  pointer-events: none;
}

.modal__window {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  background-color: #fcfcfc;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__window-container {
  padding: 25px;
  max-width: 500px;
  margin: 0 auto;
}

.modal__window-body {
  text-align: center;
  border-radius: 10px;
}

.is-open {
  opacity: 1;
  pointer-events: fill;
}/*# sourceMappingURL=main.css.map */