.story__container {
    padding-top: 218px;
    padding-bottom: 117px;
}
.story__body {
    display: flex;
}
.story__wrapper-title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 668px;
}
.story__title {
    margin-bottom: 18px;
}
.story__wrapper-img {
    position: relative;
    margin-left: 107px;
    &::before{
        content: "";
        display: block;
        position: absolute;
        top: -95px;
        left: -293px;
        background-image: url('../img/vector/tomato.png');
        background-size: contain;
        background-repeat: no-repeat;
        width: 326px;
        height: 271px;
    }
}
.story__img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}
@media screen and (max-width:1299.98px){
    .story__wrapper-img {
        margin-left: 40px;
    }
}
@media screen and (max-width:991.98px){
    .story__container {
        padding-top: 60px;
        padding-bottom: 60px;
    }
    .story__wrapper-img {
        &::before {
            display: none;
        }
    }
    .story__wrapper-img {
        margin-left: 20px;
    }
}
@media screen and (max-width:767.98px){
    .story__container {
        padding-top: 30px;
        padding-bottom: 30px;
    }
    .story__body {
       flex-direction: column;
    }
    .story__wrapper-img {
        margin-left: 0px;
        margin-top: 20px;
    }
}