.contact {
    background-color: var(--bg-footer-color);
}
.contact__container {
    padding-top: 132px;
    padding-bottom: 137px;
}
.contact__body {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.contact__log {
    color: var(--white-color);
}
.contact__wrapper-block {
    display: flex;
    flex-direction: column;
    margin-right: 20px;
    margin-left: 20px;
}
.contact__title-contact {
    margin-bottom: 55px;

    font-family: "Rufina";
    font-size: 32px;
    font-weight: 700;
    line-height: 1.5; /* 150% */
    color: var(--white-color);
}
.contact__item:nth-child(2){
    margin-bottom: 28px;
}
.contact__tell {
    font-size: 18px;
    line-height: 1.3; /* 138.889% */
    letter-spacing: 0.36px;
    color: var(--white-color);
    &:hover{
        text-decoration: underline;
    }
}
.contact__email {
    font-size: 18px;
    line-height: 1.3; /* 138.889% */
    letter-spacing: 0.36px;
    color: var(--white-color);
    &:hover{
        text-decoration: underline;
    }
}
.contact__adrress {
    font-size: 18px;
    line-height: 1.3; /* 138.889% */
    letter-spacing: 0.36px;
    color: var(--white-color);
    &:hover{
        text-decoration: underline;
    }
}
.contact__title {
    margin-bottom: 55px;
    font-family: "Rufina";
    font-size: 32px;
    font-weight: 700;
    line-height: 1.5; /* 150% */
    color: var(--white-color);
}
.contact__input {
    padding: 30px 40px;
    margin-right: 20px;
    min-width: 523px;
    color: var(--white-color);
    border: 1px solid var(--white-color);
    background-color: inherit;
    &::placeholder {
        font-family: "Lato";
        font-size: 24px;
        font-weight: 400;
        line-height: 1.4; /* 33.6px */
        letter-spacing: 0.48px;
        color: var(--white-color);
    }
}
.contact__button {
    padding: 20px 46px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:hover {
        background-color: var(--white-color);
        color: inherit;
    }
}
.contact__subscribe {
    margin-top: 15px;
    font-size: 14px;
    letter-spacing: 0.28px;
    color: var(--white-color);
}
@media screen and (max-width:1499.98px){
    .contact__form {
        display: flex;
        flex-direction: column;
        row-gap: 20px;
    }
    .contact__input {
        margin-right: 0px;
    }
}
@media screen and (max-width:991.98px){
    .contact__container {
        padding-top: 60px;
        padding-bottom: 60px;
    }
    .contact__title-contact {
        margin-bottom: 20px;
    }
    .contact__title {
        margin-bottom: 0px;
    }
}
@media screen and (max-width:767.98px){
    .contact__container {
        padding-top: 30px;
        padding-bottom: 30px;
    }
    .contact__title-contact {
        font-size: 24px;
    }
    .contact__form {
        margin-top: 20px;
    }
    .contact__title {
        font-size: 24px;
    }
    .contact__input {
        min-width: 320px;
    }
    .contact__button {
        font-size: 24px;
    }
}
@media screen and (max-width:479.98px){
    .contact__list {
        margin-right: 0px;
        margin-left: 0px;
    }
    .contact__tell {
        font-size: 16px;
    }
    .contact__email {
        font-size: 16px;
    }
    .contact__adrress {
        font-size: 16px;
    }
    .contact__input {
        min-width: 260px;
        &::placeholder {
            font-size: 16px;
        }
    }
    .contact__button {
        font-size: 18px;
    }
}