body {
    font-family: 'Lato';
    font-size: 24px;
    font-weight: 400;
    line-height: 1.4; /* 33.6px */
    color: var(--general-color);
}
.container {
    max-width: 1645px;
    margin: 0 auto;
    padding-left: 138px;
    padding-right: 138px;
}
.title {
    font-family: 'Rufina';
    font-size: 108px;
    font-weight: 700;
    line-height: 1.2; /* 111.111% */
    color: var(--black-color);
}
.subtitle {
    font-family: 'Rufina';
    font-size: 68px;
    font-weight: 700;
    line-height: 1.2; /* 123.529% */
    color: var(--black-color);
}
.middle-text {
    font-family: 'Rufina';
    font-size: 48px;
    font-weight: 700;
    line-height: 1.3; /* 133.333% */
    color: var(--black-color);
}
.button-transparent {
    font-family: 'Rufina';
    font-size: 32px;
    font-weight: 700;
    line-height: 1.5; /* 150% */
    color: var(--white-color);
    border: 2px solid var(--white-color);
}
.button-green {
    font-family: 'Rufina';
    font-size: 32px;
    font-weight: 700;
    line-height: 1.5; /* 150% */
    color: var(--white-color);
    border: 2px solid var(--black-color);
    background-color: var(--button-green-color);
}
.hidden {
    overflow: hidden
}

// Плавний ховер
// transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
// box-shadow: 0px 13px 19px rgba(0,0,0,.07);

//Гарний ховер для посилань
// &::after {
    //     content: "";
    //     display: block;
    //     position: absolute;
    //     right: 0;
    //     bottom: -3px;
    //     width: 0;
    //     height: 2px; /* Высота линии */
    //     background-color: var(--title-color); /* Цвет подчеркивания при исчезании линии*/
    //     transition: width 0.5s; /* Время эффекта */
    //     }
    //     &:hover::after {
    //     content: "";
    //     width: 100%;
    //     display: block;
    //     position: absolute;
    //     left: 0;
    //     bottom: -3px;
    //     height: 2px; /* Высота линии */
    //     background-color: var(--title-color); /* Цвет подчеркивания при появлении линии*/
    //     transition: width 0.5s;  /* Время эффекта */
    //     }