.hero__menu {
}
.hero__container-menu {
}
.hero__body-menu {
    display: flex;
    flex-direction: column;
    padding-top: 350px;
    padding-bottom: 328px;
}
.hero__menu-title {
    margin-bottom: 50px;
    max-width: 779px;
}
.hero__menu-subtitle {
}
@media screen and (max-width:1199.98px){
}