.hero__post {
    margin-top: -215px;
    background-image: url('../img/ideas-hero/hero2.webp');
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
}
.hero__body-post {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 350px;
    padding-bottom: 250px;
}
.hero__post-title {
    max-width: 1194px;
    font-family: "Rufina";
    font-size: 88px;
    font-weight: 700;
    line-height: 1.2; /* 105.6px */
    margin-bottom: 32px;
    color: var(--white-color);
    text-align: center;
    opacity: 0;
    transition: all 2.5s ease 0.5s;
}
.post__thumb {
    display: flex;
    flex-direction: column;
    max-height: 100%;
    padding: 0px 75px;

    opacity: 0;
    transition: all 2.5s ease 1s;
}
.post__wrapper {
    display: flex;
    align-items: center;
    column-gap: 14px;
}
.post__avatar {
    width: 96px;
    height: 96px;
}
.post__name,
.post__date,
.post__time,
.post__comments {
    font-size: 18px;
    letter-spacing: 0.36px;
    color: var(--white-color);
    text-align: center;
}
@media screen and (max-width:1199.98px){
    .post__thumb {
        padding: 0px 30px;
    }
}
@media screen and (max-width:991.98px){
    .hero__body-post {
        padding-top: 250px;
        padding-bottom: 220px;
    }
    .hero__post-title {
        margin-bottom: 20px;
        font-size: 68px;
    }
}
@media screen and (max-width:767.98px){
    .hero__body-post {
        padding-bottom: 120px;
    }
    .hero__post-title {
        font-size: 48px;
    }
}
@media screen and (max-width:479.98px){
    .hero__body-post {
        text-align: center;
    }
    .hero__post-title {
        font-size: 28px;
    }
    .post__time,
    .post__comments {
        display: none;
    }
    .post__name,
    .post__date {
        font-size: 14px;
    }
}
.active {
    opacity: 1;
}