.post__blog-container {
    padding-bottom: 128px;
}
.point-black {
    margin-bottom: 128px;
}
.post__blog-title {
    text-align: center;
    margin-bottom: 128px;
}
@media screen and (max-width:991.98px){
    .post__blog-container {
        padding-bottom: 60px;
    }
    .point-black {
        margin-bottom: 60px;
    }
    .post__blog-title {
        margin-bottom: 60px;
    }
}
@media screen and (max-width:767.98px){
    .post__blog-container {
        padding-bottom: 30px;
    }
    .point-black {
        margin-bottom: 30px;
    }
    .post__blog-title {
        margin-bottom: 30px;
    }
}