:root {
    --white-color: #fff;
    --black-color: #000;
    --general-color: #4D4D4D;
    --bg-color: #EBF0E4;
    --bg-footer-color: #233000;
    --button-green-color: #5E6600;
    --span-color: #9CAA00;
    --date-color: #B0B0B0;
}